body {
  text-align: center;
  color: black;
  background-color: white;
  font-family: Inter, sans-serif;
}

h1 {
  color:  black;
  text-align: center;
  font-family: Inter,sans-serif;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:active {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

button {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  /* display: flex; */
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 25px;
  margin: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

button:hover:after {
  transform: translate(0, 0);
}

button:active {
  background-color: #ffdeda;
  outline: 0;
}

button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  button {
    padding: 0 40px;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  justify-content: space-around;
}

.card {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  /* display: flex; */
  font-family: Inter,sans-serif;
  font-size: 16px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  margin: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.card:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.card:hover:after {
  transform: translate(0, 0);
}

.card:active {
  background-color: #ffdeda;
  outline: 0;
}

.card:hover {
  outline: 0;
}

@media (min-width: 768px) {
  card {
    padding: 40px;
  }
}

.card img {
  width:50px;
  height: 50px;
  padding: 10px;
}

.card h1 {
  font-size: 1.25em;
}

.show {
  /* width: 300px;
  height: 500px; */
  margin: 10px;
}

.show iframe {
  width: 600px;
  height: 400px;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
